<div class="card">
    <div class="section media">
        <img [src]="vinyl.imageUrl" alt="Vinyl image of {{vinyl.artist}} {{vinyl.title}}">
    </div>
    <div class="section">
        <h4>{{vinyl.title | myUppercase}} <small>by {{vinyl.artist}}</small></h4>
    </div>
    <div class="section"
        [ngClass]="{inedit: isModified}"
        style="text-align:center">
        <span>{{vinyl.releaseDate | date}}</span>
    </div>
    <div *ngIf="isModified" class="section" style="text-align:center">
        <app-counting-buttons
            [(value)]="vinyl.releaseDate"
        ></app-counting-buttons>
    </div>
    <div class="section" style="text-align:center">
        <button (click)="switchModified()">Change</button>
    </div>
</div>