<div class="card">

    <div class="section media">
        <img [src]="vinyl.imageUrl" alt="Vinyl image of {{vinyl.artist}} {{vinyl.title}}">
    </div>
    <div class="section">
        <h4>{{vinyl.title}} <small>by {{vinyl.artist}}</small></h4>
    </div>
    <div class="section" style="text-align:center">
        <span>{{vinyl.releaseDate}}</span>
    </div>
    <div class="section" style="text-align:center">
        <app-counting-buttons
            [(value)]="vinyl.releaseDate"
        ></app-counting-buttons>
    </div>
    <div class="section">
        <button (click)="onClickButton()">Change</button>
    </div>
</div>